html 
  head 
    title= title 
  body
    h1= title
    div
      a(href="/") Guests List
    div  
      a(href="/guest-form") Add a guest

    block content 
      h1 This is the layout template  
