button {
    margin-bottom: 2px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 25px;
}


#part-5 div{
    border: 2px solid red;
}
